In [1]:
lanterns = [1,3,3,4,5,1,1,1,1,1,1,2,1,4,1,1,1,5,2,2,4,3,1,1,2,5,4,2,2,3,1,2,3,2,1,1,4,4,2,4,4,1,2,4,3,3,3,1,1,3,4,5,2,5,1,2,5,1,1,1,3,2,3,3,1,4,1,1,4,1,4,1,1,1,1,5,4,2,1,2,2,5,5,1,1,1,1,2,1,1,1,1,3,2,3,1,4,3,1,1,3,1,1,1,1,3,3,4,5,1,1,5,4,4,4,4,2,5,1,1,2,5,1,3,4,4,1,4,1,5,5,2,4,5,1,1,3,1,3,1,4,1,3,1,2,2,1,5,1,5,1,3,1,3,1,4,1,4,5,1,4,5,1,1,5,2,2,4,5,1,3,2,4,2,1,1,1,2,1,2,1,3,4,4,2,2,4,2,1,4,1,3,1,3,5,3,1,1,2,2,1,5,2,1,1,1,1,1,5,4,3,5,3,3,1,5,5,4,4,2,1,1,1,2,5,3,3,2,1,1,1,5,5,3,1,4,4,2,4,2,1,1,1,5,1,2,4,1,3,4,4,2,1,4,2,1,3,4,3,3,2,3,1,5,3,1,1,5,1,2,2,4,4,1,2,3,1,2,1,1,2,1,1,1,2,3,5,5,1,2,3,1,3,5,4,2,1,3,3,4]

days = 0
list_days = []
for lantern in lanterns:
    while days < 150:
        if 0 in lanterns:
            indices = []
            for i in range(len(lanterns)):
                if lanterns[i] == 0:
                    indices.append(i)
            lanterns = list(map(lambda lantern : lantern -1, lanterns))
            for index in indices:
                lanterns[index] = 6
                lanterns.append(8)
                    
        else:
            lanterns = list(map(lambda lantern : lantern -1, lanterns))
        list_days.append(len(lanterns))
        days +=1
        print (days)
    
print (len(lanterns))

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
159471386

In [2]:
# Value Tracking Method
lanterns = [1,3,3,4,5,1,1,1,1,1,1,2,1,4,1,1,1,5,2,2,4,3,1,1,2,5,4,2,2,3,1,2,3,2,1,1,4,4,2,4,4,1,2,4,3,3,3,1,1,3,4,5,2,5,1,2,5,1,1,1,3,2,3,3,1,4,1,1,4,1,4,1,1,1,1,5,4,2,1,2,2,5,5,1,1,1,1,2,1,1,1,1,3,2,3,1,4,3,1,1,3,1,1,1,1,3,3,4,5,1,1,5,4,4,4,4,2,5,1,1,2,5,1,3,4,4,1,4,1,5,5,2,4,5,1,1,3,1,3,1,4,1,3,1,2,2,1,5,1,5,1,3,1,3,1,4,1,4,5,1,4,5,1,1,5,2,2,4,5,1,3,2,4,2,1,1,1,2,1,2,1,3,4,4,2,2,4,2,1,4,1,3,1,3,5,3,1,1,2,2,1,5,2,1,1,1,1,1,5,4,3,5,3,3,1,5,5,4,4,2,1,1,1,2,5,3,3,2,1,1,1,5,5,3,1,4,4,2,4,2,1,1,1,5,1,2,4,1,3,4,4,2,1,4,2,1,3,4,3,3,2,3,1,5,3,1,1,5,1,2,2,4,4,1,2,3,1,2,1,1,2,1,1,1,2,3,5,5,1,2,3,1,3,5,4,2,1,3,3,4]
count_0 = lanterns.count(0)
count_1 = lanterns.count(1)
count_2 = lanterns.count(2)
count_3 = lanterns.count(3)
count_4 = lanterns.count(4)
count_5 = lanterns.count(5)
count_6 = lanterns.count(6)
count_7 = lanterns.count(7)
count_8 = lanterns.count(8)
for x in range (0,256):
    #subtract 1 from each 
    temp = count_0
    count_0 = count_1
    count_1 = count_2
    count_2 = count_3
    count_3 = count_4
    count_4 = count_5
    count_5 = count_6
    count_6 = count_7
    count_7 = count_8
    count_8 = temp
    count_6 += temp
    print (x)
print (count_0 + count_1 + count_2 + count_3 + count_4 + count_5 + count_6 + count_7 + count_8)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
1644286074024

In [3]:
list_days

[300,
 415,
 467,
 514,
 563,
 600,
 600,
 600,
 715,
 767,
 929,
 1030,
 1114,
 1163,
 1200,
 1315,
 1367,
 1644,
 1797,
 2043,
 2193,
 2314,
 2478,
 2567,
 2959,
 3164,
 3687,
 3990,
 4357,
 4671,
 4881,
 5437,
 5731,
 6646,
 7154,
 8044,
 8661,
 9238,
 10108,
 10612,
 12083,
 12885,
 14690,
 15815,
 17282,
 18769,
 19850,
 22191,
 23497,
 26773,
 28700,
 31972,
 34584,
 37132,
 40960,
 43347,
 48964,
 52197,
 58745,
 63284,
 69104,
 75544,
 80479,
 89924,
 95544,
 107709,
 115481,
 127849,
 138828,
 149583,
 165468,
 176023,
 197633,
 211025,
 235558,
 254309,
 277432,
 304296,
 325606,
 363101,
 387048,
 433191,
 465334,
 512990,
 558605,
 603038,
 667397,
 712654,
 796292,
 852382,
 946181,
 1023939,
 1116028,
 1226002,
 1315692,
 1463689,
 1565036,
 1742473,
 1876321,
 2062209,
 2249941,
 2431720,
 2689691,
 2880728,
 3206162,
 3441357,
 3804682,
 4126262,
 4493929,
 4939632,
 5312448,
 5895853,
 6322085,
 7010844,
 7567619,
 8298611,
 9065894,
 9806377,
 10835485,
 11634533,
 12906697,
 13889704,
 15309455,
 16633513,
 18104988,
 19901379,
 21440910,
 23742182,
 25524237,
 28216152,
 30523217,
 33414443,
 36534892,
 39545898,
 43643561,
 46965147,
 51958334,
 56047454,
 61630595,
 67058109,
 72960341,
 80178453,
 86511045,
 95601895,
 103012601,
 113588929,
 123105563,
 134590936,
 147236562,
 159471386]

In [4]:
day_list = []
for x in range(1,151):
    print(x)
    day_list.append(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150

In [5]:
day_list

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150]

In [6]:
import pandas as pd
df = pd.DataFrame(list_days)

In [7]:
df

             0
0          300
1          415
2          467
3          514
4          563
5          600
6          600
7          600
8          715
9          767
10         929
11        1030
12        1114
13        1163
14        1200
15        1315
16        1367
17        1644
18        1797
19        2043
20        2193
21        2314
22        2478
23        2567
24        2959
25        3164
26        3687
27        3990
28        4357
29        4671
..         ...
120   12906697
121   13889704
122   15309455
123   16633513
124   18104988
125   19901379
126   21440910
127   23742182
128   25524237
129   28216152
130   30523217
131   33414443
132   36534892
133   39545898
134   43643561
135   46965147
136   51958334
137   56047454
138   61630595
139   67058109
140   72960341
141   80178453
142   86511045
143   95601895
144  103012601
145  113588929
146  123105563
147  134590936
148  147236562
149  159471386

[150 rows x 1 columns]

In [8]:
df["Values"] = list_days

In [9]:
df.reset_index(inplace = True)

In [10]:
df.drop(df.columns[1], axis = 1, inplace = True)
df

     index     Values
0        0        300
1        1        415
2        2        467
3        3        514
4        4        563
5        5        600
6        6        600
7        7        600
8        8        715
9        9        767
10      10        929
11      11       1030
12      12       1114
13      13       1163
14      14       1200
15      15       1315
16      16       1367
17      17       1644
18      18       1797
19      19       2043
20      20       2193
21      21       2314
22      22       2478
23      23       2567
24      24       2959
25      25       3164
26      26       3687
27      27       3990
28      28       4357
29      29       4671
..     ...        ...
120    120   12906697
121    121   13889704
122    122   15309455
123    123   16633513
124    124   18104988
125    125   19901379
126    126   21440910
127    127   23742182
128    128   25524237
129    129   28216152
130    130   30523217
131    131   33414443
132    132   36534892
133    133   39545898
134    134   43643561
135    135   46965147
136    136   51958334
137    137   56047454
138    138   61630595
139    139   67058109
140    140   72960341
141    141   80178453
142    142   86511045
143    143   95601895
144    144  103012601
145    145  113588929
146    146  123105563
147    147  134590936
148    148  147236562
149    149  159471386

[150 rows x 2 columns]